*{
    box-sizing: border-box;
    margin:0 ;
}
body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden !important;
}
.container{
    max-width: 1140px;
    padding: 0 110px;
    margin: 0 auto;
}
.container-fluid{
    padding: 20px;
}

/* Background colors */
.bg-white { background-color: #ffffff; }
.bg-black { background-color: #000000; }
.bg-transparent { background-color: transparent; }
.bg-f1f3f6 { background: #F1F3F6;}
.bg-rgba-black{background: rgba(0, 16, 40, 0.85);}
.bg-2d9cdb{ background: #2D9CDB;}
.bg-6FCF97{ background: #6FCF97;}
.bg-F2994A{ background: #F2994A;}
.bg-001028{ background: #001028;}
.bg-1963D1{ background: #1963D1}


/*text colors*/
.c-fff{ color: white}
.c-001028{ color: #001028 !important;}
.c-66707E{ color:  #66707E}
.c-334053{ color: #334053}
.c-999FA9{ color: #999FA9}

/* Border Radius */
.radius-3 { border-radius: 3px }
.radius-4 { border-radius: 4px }
.radius-5 { border-radius: 5px }
.radius-6 { border-radius: 6px }
.radius-top-5 { border-radius: 5px 5px 0 0 }
.radius-top-10 { border-radius: 10px 10px 0 0 }
.radius-bottom-5 { border-radius: 0 0 5px 5px }
.radius-bottom-10 { border-radius: 0 0 10px 10px }
.radius-8 { border-radius: 8px }
.radius-10 { border-radius: 10px }
.radius-12 { border-radius: 12px }
.radius-16 { border-radius: 16px }
.radius-20 { border-radius: 20px }
.radius-top-10{border-radius: 10px 10px 0 0;}
.radius-40 { border-radius: 40px }
.radius-50p { border-radius: 50% }
.radius-top-6 { border-radius: 6px 6px 0 0 }
.radius-r-l-8 { border-radius: 0px 8px 8px 0 }
.radius-bottom-6 { border-radius: 0 0 6px 6px  }
.radius-20{ border-radius: 20px;}
.radius-50{ border-radius: 50px}



/* Icons */
.icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}

.icon-05x {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 8px;
}

.icon-2x {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
}

.icon-view{ background-image: url("../img/view-icon.svg")}
.icon-like{ background-image: url("../img/like-icon.svg")}
.icon-phone{ background-image: url("../img/icon-phone.svg")}
.icon-cake{ background-image: url("../img/icon-cake.svg")}
.icon-plus{ background-image: url("../img/icon-plus.svg")}
.icon-home{ background-image: url("../img/home-icon.svg")}
.icon-menu{ background-image: url("../img/menu-icon.svg")}
.icon-home{ background-image: url("../img/home-icon.svg")}
.icon-message{ background-image: url("../img/message-icon.svg")}
.icon-about-bank{ background-image: url("../img/about-bank-icon.svg")}
.icon-documents{ background-image: url("../img/documents-icon.svg")}
.icon-news{ background-image: url("../img/news-icon.svg")}
.icon-discount{ background-image: url("../img/discount-icon.svg")}
.icon-conversation{ background-image: url("../img/conversation-icon.svg")}
.icon-difference{ background-image: url("../img/difference-icon.svg")}
.icon-idea{ background-image: url("../img/idea-icon.svg")}
.icon-youtube{ background-image: url("../img/youtube-icon.svg")}
.icon-instagram{ background-image: url("../img/instagram-icon.svg")}
.icon-facebook{ background-image: url("../img/facebook-icon.svg")}
.icon-telegram{ background-image: url("../img/telegram-icon.svg")}
.icon-twitter{ background-image: url("../img/twitter-icon.svg")}
.icon-zip{background-image: url("../img/Zip.svg") }
.icon-docx{background-image: url("../img/Word.svg") }
.icon-ppt{background-image: url("../img/Powerpoint.svg") }
.icon-jpeg{background-image: url("../img/Picture.svg") }
.icon-idea{background-image: url("../img/icon-idea.svg")}





/*squares*/
.square-6 {
    height: 6px;
    width: 6px;
}

.square-12 {
    height: 12px;
    width: 12px;
}

.square-14 {
    height: 14px;
    width: 14px;
}
.square-16 {
    height: 16px;
    width: 16px;
}

.square-20 {
    height: 20px;
    width: 20px;
}

.square-24 {
    height: 24px;
    width: 24px;
}

.square-30 {
    height: 30px;
    width: 30px;
}

.square-36 {
    height: 36px;
    width: 36px;
}

.square-40 {
    height: 40px;
    width: 40px;
}
.square-44 {
    height: 44px;
    width: 44px;
}
.square-46 {
    height: 46px;
    width: 46px;
}

.square-48 {
    height: 48px;
    width: 48px;
}

.square-52 {
    height: 52px;
    width: 52px;
}

.square-75 {
    height: 75px;
    width: 75px;
}

.square-80 {
    height: 80px;
    width: 80px;
}
.square-96 {
    height: 96px;
    width: 96px;
}

.rect-35-45 {
    width: 35px;
    height: 45px;
}

.rect-65-40 {
    width: 65px;
    height: 40px;
}

.rect-100-65 {
    width: 100px;
    height: 65px;
}



/* Borders */
.border { border: 1px solid #262626; }
.border-left { border-left: 1px solid #262626; }
.border-bottom { border-bottom: 1px solid #262626; }
.border-top { border-top: 1px solid #dedede; }
.border-E9ECEE{border: 1px solid #E9ECEE}


.border-f6f7f8 { border-color: #f6f7f8 }
.border-f4f4f4 { border-color: #f4f4f4 }
.border-ebebeb { border-color: #ebebeb }
.border-e4e4e4 { border-color: #e4e4e4 !important; }
.border-right-e4e4e4{ border-right: 1px solid #e4e4e4; }
.border-1885d3 { border-color: #3b8ae0 !important; }
.border-3b8ae0 { border-color: #3b8ae0 !important; }
.border-2e55a6 { border-color: #0056C1 }
.border-0056C1 { border-color: #0056C1 }
.border-white { border-color: #ffffff }
.border-dcdcdc { border-color: #dcdcdc }
.border-CFCFCF{ border-color: #cfcfcf}
.border-DFDFDF { border-color: #DFDFDF }
.border-dashed { border-style: dashed !important; }
.border-1.\5 { border-width: 1.5px }
.border-2 { border-width: 2px }
.border-4 { border-width: 4px }
.border-0 { border: none }
.outline-0 { outline: none }
.border-0056c1{border-color: #0056c1 !important;}


/* Widths */
.w-fit-content{ width: fit-content}
.w-100 { width: 100% }
.w-140 { width: 140% }
.w-48 { width: 48px}
.w-50 { width: 50% }
.w-80 { width: 80px }
.w-64-max { max-width: 64px }
.w-100-max { max-width: 100% }
.w-300-max { max-width: 300px }
.w-321-max { max-width: 321px }
.w-140-max { max-width: 140px }
.w-100px-max { max-width: 100px }
.w-100-vw { width: 100vw }
.w-5 { width: 5px; }
.w-220 { width: 220px; }
.h-100-vh { height: 100vh }


/* Heights */
.h-5 { height: 5px; }
.h-26 { height: 26px; }
.h-35 { height: 35px; }
.h-48 { height: 48px; }
.h-50 { height: 50px; }
.h-60 { height: 60px; }
.h-58 { height: 58px; }
.h-65 { height: 65px; }
.h-75 { height: 75px; }
.h-80 { height: 80px; }
.h-120 { height: 120px; }
.h-80-max { max-height: 80px; }
.h-100 { height: 100px }
.h-100p { height: 100%; }
.h-64-max { max-height: 64px }
.h-100p-max { max-height: 100%; }
.h-140 { height: 140px !important; }
.h-150 { height: 150px }
.h-175 { height: 175px !important; }
.h-190-max { max-height: 190px; }
.h-194 { height: 194px; }
.h-200 { height: 200px; }
.h-202{ height: 202px; }
.h-250 { height: 250px; }
.h-260{height: 260px;}
.h-300 { height: 300px; }
.h-330 { height: 330px; }
.h-370 { height: 370px; }
.h-600-min { min-height: 600px; }



/* Others */
.overflow-a { overflow: auto }
.overflow-h { overflow: hidden }
.overflow-v { overflow: visible !important; }
.overflowx-h { overflow-x: hidden }
.overflowy-h { overflow-y: hidden }
.overflowx-s { overflow-x: scroll }
.overflowy-s { overflow-y: scroll }
.overflowx-auto { overflow-x: auto }
.opacity-0 { opacity: 0 }
.opacity-2 { opacity: 0.2 }
.opacity-5 { opacity: 0.5 }
.opacity-1 { opacity: 1 }
.opacity-6{ opacity:  0.6}
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }
.pos-fixed { position: fixed; }
.pos-static { position: static !important; }
.pos-sticky { position: sticky }
.top-0 { top: 0 }
.top-145 { top: 145px }
.bottom-0 { bottom: 0 }
.bottom-12 { bottom: 12px }
.bottom-25 { bottom: 25px }
.bottom-10 { bottom: -10px }
.bottom-33 { bottom: 33px}
.left-30{left: 30px}
.right-0 { right: 0 }
.left-16 { left: 16px }
.left-2 { left: 2px }
.left-4 { left: 4px }
.left-22 { left: 22px }
.right-24{right: 24px}
.top-24{top: 24px}
.left-0 { left: 0 !important; }
.left-center { left: 50%; transform: translateX(-50%) }
.top-center { top: 50%; transform: translateY(-50%) }
.left-100p { left: 100% }
.top-50 { top: 50px; }
.top-126 { top: 126px; }
.top-calc-bottom { top: calc(100% - 10px); }
.top-90p { top: 90%; }
.z-10 { z-index: 10 !important; }
.z-100 { z-index: 100 !important; }
.z-111 { z-index: 111 !important; }
.rotate-180 { transform: rotate(180deg) }
.rotate-270 { transform: rotate(270deg) }
.rotate-90 { transform: rotate(90deg) }
.p-bottom-only p { margin-top: 0; margin-bottom: 20px }
.ws-nowrap { white-space: nowrap }
.flex-shrink-none { flex-shrink: 0 }

.cursor-p { cursor: pointer }
.obj-cover { object-fit: cover }
.obj-contain { object-fit: contain }

ul,ol{
    padding-inline-start: 25px;
}
/*spacing*/
.p-11{
    padding: 11px;
}
.p-18{
    padding: 18px;
}

.navbar-black .navbar-nav .nav-link {
    color: #001028;
}
header .nav-item,
header .nav-link{
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.04);
    border-radius: 80px;
}
.navbar-expand-lg .navbar-nav .nav-link {
   padding: 12px 16px;
}
.discount{
    background: #EB5757;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}
header .navbar-black .navbar-nav .active>.nav-link, .navbar-black .navbar-nav .nav-link.active, .navbar-black .navbar-nav .nav-link.show, .navbar-black .navbar-nav .show>.nav-link{
    background: #001028;
    color: white;
    border-radius: 80px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.nav-link.dropdown-toggle{
    display: flex;
    align-items: baseline;
}
header .nav-item{
    margin-right: 12px;
}
header .dropdown .dropdown-toggle::after {
    right: 18px;
    margin-top: -2px;
    color: #001028;
    transform: rotate(0deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
header .dropdown.show .dropdown-toggle::after {
    margin-top: 2px;
    transform: rotate(-180deg) translateY(-50%);
    color: #fff;
}
.dropdown-menu{
    margin: 12px 0 0 0;
    padding: 8px;
    background: #FFFFFF;
    border: 1px solid #E5E7E9;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.01);
    border-radius: 12px;
}
.dropdown-item{
    padding: 0;
    margin:8px;
}
footer .navbar-nav .nav-link {
    text-decoration: underline;
    color: #66707E;
}
.discount-card{
    padding: 208px 20px 20px 20px;
}
.count-flag{
    background: #EB5757;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: white;
    padding: 1px 5px;
}
.phone-flag{
    background: #66707E;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: white;
    padding: 4px 8px;

}
.menu-price-box{
    background: rgba(0, 16, 40, 0.3);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 14px;
    padding: 11px 15px;
    flex: 1;
}
.page-items-icon{
    background: #f1f3f6;
}
.page-items.active .page-items-icon{
    background: #1963D1;
}
.page-items{
    color: #999FA9;
}
.page-items.active{
    color: #001028;
}
.page-items:hover {
    color:  #66707E !important;
    text-decoration: none;
}
.page-items.active .page-items-icon span{
    filter:  brightness(0) invert(1);
}
.page-items:hover .page-items-icon span{
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(39deg) brightness(100%) contrast(101%);
}
.pre-scrollable{
    max-height: 280px;
}


::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 16, 40, 0.3);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 16, 40, 0.3);
}
.filetype-div{
    padding-bottom: 20px;
}


.form-input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #E5E7E9;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #001028;
    margin-bottom: 16px;
}
.form-input[disabled], .form-input[readonly]{
    background: #CCCFD4;
    color: #999FA9;
}
.form-input::placeholder {
    color: #999FA9;
}


/****************************************************/
/*Input styling of checkbox */
/****************************************************/

.form-checkbox-container .form-checkbox {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: flex-start;
    padding: 0 20px;
}

.form-checkbox-container input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-checkbox-container .form-checkbox .checkmark {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid #DCDCDC;
    border-radius: 2px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.form-checkbox-container .form-checkbox .checkmark img {
    display: none;
}

.form-checkbox-container input[type=checkbox]:checked ~ .form-checkbox {
    border-color: #3b8ae0;
}

.form-checkbox-container input[type=checkbox]:checked ~ .form-checkbox span {
    color: #3b8ae0;
}

.form-checkbox-container input[type=checkbox]:checked ~ .form-checkbox .checkmark {
    background-color: #3b8ae0;
    border-color: #3b8ae0;
}

.form-checkbox-container input[type=checkbox]:checked ~ .form-checkbox .checkmark img {
    display: block;
}


/****************************************************/
/*Input styling of animated label*/
/****************************************************/

.input-container {
    position: relative;
}

.input-error-text {
    display: none;
}

.input-animated {
    padding-top: 10px;
}

.input-animated-label {
    pointer-events: none;
    position: absolute;
    transition: all 200ms;
    font-weight: 400;
    color: #99A0AC;
}

.input-animated + .input-animated-label {
    top: 8px;
    left: 16px;
    font-size: 13px;
    line-height: 16px;
}

.input-animated:placeholder-shown + .input-animated-label {
    top: 20px;
    left: 16px;
    font-size: 16px;
    line-height: 20px;
}

.input-animated:not(:placeholder-shown), .input-animated:focus {
    padding-top: 29px;
    padding-bottom: 9px;
}

.input-animated:focus + .input-animated-label {
    top: 8px;
    left: 16px;
    font-size: 13px;
    line-height: 16px;
}

.input-animated.parsley-error, .form-input.parsley-error  ~ .input-error-text {
    display: block;
}



/****************************************************/
/*slick slider*/
/****************************************************/

.slick-custom-previous-arrow,
.slick-custom-next-arrow{
    border: none;
    width: 52px;
    height: 52px;
    background: none;
    z-index: 99;
    outline: none !important;
}

.slick-custom-previous-arrow::after{
    content: url("../img/next-arrow.svg");
    position: absolute;
    transform: rotate(180deg);
    top: calc(50% - 20px);
    left: calc(50% - 12px);
}

.slick-custom-next-arrow::after{
    content: url("../img/next-arrow.svg");
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 12px);
}

.slick-custom-next-arrow,
.slick-custom-next-arrow:hover {
    position: absolute;
    top: calc(50% - 26px);
    right: -18px;
    background: #1963D1;
    border: 4px solid #F1F3F6;
    border-radius: 50px;
}
.slick-custom-previous-arrow,
.slick-custom-previous-arrow:hover {
    position: absolute;
    top: calc(50% - 26px);
    left: -18px;
    background-position-x: right;
    background: #1963D1;
    border: 4px solid #F1F3F6;
    border-radius: 50px;
}
.slick-slide{
    outline: #48484E !important;
    height: inherit !important;
}

.slick-disabled { display: none !important; pointer-events:none; }
